
    <agm-map [latitude]="lat" [longitude]="lng" >
        <agm-marker *ngFor="let coordinate of start_end_mark; let i=index"
        [latitude]="coordinate[0]"
        [longitude]="coordinate[1]"></agm-marker>
        <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
              <agm-polyline-point
              *ngFor="let coordinate of latlng; let i=index"
              [latitude]="coordinate[0]"
              [longitude]="coordinate[1]">

            </agm-polyline-point>
        </agm-polyline>
    </agm-map>

