<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html>


<!-- <div #map style="width:100%;height:400px"></div> -->
    <!-- <agm-map [latitude]="lat" [longitude]="lng" >
        <agm-marker *ngFor="let coordinate of start_end_mark; let i=index"
                    [latitude]="coordinate[0]"
                    [longitude]="coordinate[1]">
        </agm-marker>
        <ng-container>
        <agm-polyline [visible]="true" [strokeWeight]="3" [strokeColor]="'#07b57a'">
              <agm-polyline-point
                            *ngFor="let coordinate of latlng; let i=index"
                            [latitude]="coordinate[0]"
                            [longitude]="coordinate[1]">
            </agm-polyline-point>
        </agm-polyline>
    </ng-container>
    </agm-map> -->

